<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="open.vincentf13.exchange.risk.infra.persistence.mapper.RiskSnapshotMapper">

    <select id="findBy" parameterType="RiskSnapshotPO" resultType="RiskSnapshotPO">
        SELECT
            *
        FROM risk_snapshots
        <where>
            <if test="snapshotId != null">AND id = #{snapshotId}</if>
            <if test="userId != null">AND user_id = #{userId}</if>
            <if test="instrumentId != null">AND instrument_id = #{instrumentId}</if>
            <if test="positionId != null">AND position_id = #{positionId}</if>
            <if test="status != null">AND status = #{status}</if>
        </where>
    </select>

    <insert id="insertSelective" parameterType="RiskSnapshotPO">
        INSERT INTO risk_snapshots
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="snapshotId != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="accountId != null">account_id,</if>
            <if test="instrumentId != null">instrument_id,</if>
            <if test="positionId != null">position_id,</if>
            <if test="maintenanceMarginRate != null">maintenance_margin_rate,</if>
            <if test="notionalValue != null">notional_value,</if>
            <if test="usedMargin != null">used_margin,</if>
            <if test="equity != null">equity,</if>
            <if test="marginRatio != null">margin_ratio,</if>
            <if test="liquidationPrice != null">liquidation_price,</if>
            <if test="status != null">status,</if>
            <if test="riskVersion != null">risk_version,</if>
            <if test="snapshotSource != null">snapshot_source,</if>
            <if test="snapshotAt != null">snapshot_at,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="snapshotId != null">#{snapshotId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="accountId != null">#{accountId},</if>
            <if test="instrumentId != null">#{instrumentId},</if>
            <if test="positionId != null">#{positionId},</if>
            <if test="maintenanceMarginRate != null">#{maintenanceMarginRate},</if>
            <if test="notionalValue != null">#{notionalValue},</if>
            <if test="usedMargin != null">#{usedMargin},</if>
            <if test="equity != null">#{equity},</if>
            <if test="marginRatio != null">#{marginRatio},</if>
            <if test="liquidationPrice != null">#{liquidationPrice},</if>
            <if test="status != null">#{status},</if>
            <if test="riskVersion != null">#{riskVersion},</if>
            <if test="snapshotSource != null">#{snapshotSource},</if>
            <if test="snapshotAt != null">#{snapshotAt},</if>
        </trim>
    </insert>

    <update id="updateStatusByIdAndVersion">
        UPDATE risk_snapshots
        SET status = #{status},
            risk_version = #{expectedVersion} + 1
        WHERE id = #{snapshotId}
        <if test="expectedVersion != null">
            AND risk_version = #{expectedVersion}
        </if>
    </update>
</mapper>
