apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kafka-connect-plugins
  labels:
    app: infra-kafka-connect
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: infra-kafka-connect-local
