apiVersion: apps/v1
kind: Deployment
metadata:
  name: exchange-market
  labels:
    app: exchange-market
spec:
  replicas: 1  # 最小化初始資源佔用，HPA 會根據負載自動擴展
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: exchange-market
  template:
    metadata:
      labels:
        app: exchange-market
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/actuator/prometheus"
        prometheus.io/port: "8080"
    spec:
      containers:
        - name: exchange-market
          image: exchange-market:local #  victorf13/exchange-market:latest
          imagePullPolicy: Never  # Always | Never
          env:
            - name: SERVER_PORT
              value: "8080"
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
#             limits:
#               cpu: "1000m"          # 最大可用 CPU（需要時可達 1 core）
#               memory: "1024Mi"       # 最大可用記憶體
          startupProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 30
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3

---
apiVersion: v1
kind: Service
metadata:
  name: exchange-market
  labels:
    app: exchange-market
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: "/actuator/prometheus"
    prometheus.io/port: "8080"
spec:
  type: ClusterIP
  selector:
    app: exchange-market
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
