apiVersion: apps/v1
kind: Deployment
metadata:
  name: exchange-order
  labels:
    app: exchange-order
spec:
  replicas: 1  # 最小化初始資源佔用，HPA 會根據負載自動擴展
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: exchange-order
  template:
    metadata:
      labels:
        app: exchange-order
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/actuator/prometheus"
        prometheus.io/port: "8080"
    spec:
      containers:
        - name: exchange-order
          image: exchange-order:local #  victorf13/exchange-order:latest
          imagePullPolicy: Never  # Always | Never
          env:
            - name: SERVER_PORT
              value: "8080"
            - name: JAVA_TOOL_OPTIONS
              value: "-Xmx256m -XX:+UseSerialGC -Xss512k"
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          resources:
            limits:
              memory: "512Mi"  # 硬上限，超過就殺掉
            requests:
              memory: "256Mi"  # 預留資源
          startupProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 30
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3

---
apiVersion: v1
kind: Service
metadata:
  name: exchange-order
  labels:
    app: exchange-order
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: "/actuator/prometheus"
    prometheus.io/port: "8080"
spec:
  type: ClusterIP
  selector:
    app: exchange-order
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
