apiVersion: apps/v1
kind: Deployment
metadata:
  name: exchange-admin
  labels:
    app: exchange-admin
spec:
  replicas: 1  # 最小化初始資源佔用，HPA 會根據負載自動擴展
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: exchange-admin
  template:
    metadata:
      labels:
        app: exchange-admin
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/actuator/prometheus"
        prometheus.io/port: "8080"
    spec:
      containers:
        - name: exchange-admin
          image: exchange-admin:local #  victorf13/exchange-admin:latest
          imagePullPolicy: Never  # Always | Never
          env:
            - name: SERVER_PORT
              value: "8080"
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          resources:
            requests:
              cpu: "250m"      # 降低預留，讓 10 個服務只要 2.5 核就能被調度
              memory: "512Mi"  # 承諾最少只要 512MB，方便調度
            limits:
              cpu: "2000m"     # 允許爆發到 2 核 (加速啟動)
              memory: "1500Mi" # 【關鍵】強制封頂 1.5GB，防止 JVM 誤判
          startupProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 30
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3

---
apiVersion: v1
kind: Service
metadata:
  name: exchange-admin
  labels:
    app: exchange-admin
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: "/actuator/prometheus"
    prometheus.io/port: "8080"
spec:
  type: ClusterIP
  selector:
    app: exchange-admin
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
