<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="open.vincentf13.exchange.account.ledger.infra.persistence.mapper.LedgerEntryMapper">

    <insert id="insertSelective" parameterType="LedgerEntryPO">
        INSERT INTO ledger_entries (
            entry_id,
            owner_type,
            account_id,
            user_id,
            asset,
            amount,
            direction,
            counterparty_entry,
            balance_after,
            reference_type,
            reference_id,
            entry_type,
            description,
            metadata,
            event_time
        ) VALUES (
            #{entryId},
            #{ownerType},
            #{accountId},
            #{userId},
            #{asset},
            #{amount},
            #{direction},
            #{counterpartyEntryId},
            #{balanceAfter},
            #{referenceType},
            #{referenceId},
            #{entryType},
            #{description},
            #{metadata},
            #{eventTime}
        )
    </insert>

    <select id="findBy" parameterType="LedgerEntryPO"
            resultType="LedgerEntryPO">
        SELECT * FROM ledger_entries
        <where>
            <if test="entryId != null">AND entry_id = #{entryId}</if>
            <if test="ownerType != null">AND owner_type = #{ownerType}</if>
            <if test="accountId != null">AND account_id = #{accountId}</if>
            <if test="userId != null">AND user_id = #{userId}</if>
            <if test="asset != null">AND asset = #{asset}</if>
            <if test="referenceType != null">AND reference_type = #{referenceType}</if>
            <if test="referenceId != null">AND reference_id = #{referenceId}</if>
            <if test="entryType != null">AND entry_type = #{entryType}</if>
        </where>
        ORDER BY event_time DESC
    </select>
</mapper>
