apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-test
  labels:
    app: service-test
spec:
  replicas: 0  # 最小化初始資源佔用，HPA 會根據負載自動擴展
  selector:
    matchLabels:
      app: service-test
  template:
    metadata:
      labels:
        app: service-test
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/actuator/prometheus"
        prometheus.io/port: "8080"
    spec:
      containers:
        - name: service-test
          image: service-template:local # victorf13/service-test:latest
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          env:
            - name: JAVA_TOOL_OPTIONS
              value: "-Xmx256m -XX:+UseSerialGC -Xss512k"
          resources:
            limits:
              memory: "512Mi"  # 硬上限，超過就殺掉
            requests:
              memory: "256Mi"  # 預留資源
          startupProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 20
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
