apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-config
  namespace: monitoring
  labels:
    app: alertmanager
  annotations:
    kubernetes.io/description: 基礎 Alertmanager 設定，可改成 Slack / Email 等接收器

data:
  alertmanager.yml: |
    global:
      resolve_timeout: 5m
    route:
      receiver: default-receiver
      group_by: [ 'alertname' ]
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 4h
    receivers:
      - name: default-receiver
    inhibit_rules: [ ]
