spring:
  application:
    name: exchange-user
  cloud:
    nacos:
      config:
        import-check:
          enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    open.vincentf13.exchange.user: INFO

mybatis:
  type-aliases-package: open.vincentf13.exchange.user.infra.persistence.po
