apiVersion: v1
kind: Secret
metadata:
  name: grafana-admin
  namespace: monitoring
  labels:
    app.kubernetes.io/name: grafana
type: Opaque
stringData:
  admin-user: admin
  admin-password: admin123
