apiVersion: apps/v1
kind: Deployment
metadata:
  name: redpanda-console
  labels:
    app: redpanda-console
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redpanda-console
  template:
    metadata:
      labels:
        app: redpanda-console
    spec:
      containers:
        - name: redpanda-console
          image: docker.redpanda.com/redpandadata/console:latest
          imagePullPolicy: IfNotPresent
          args:
            - "--config.filepath=/etc/redpanda-console/console.yaml"
          ports:
            - name: http
              containerPort: 8080
          resources:
            requests:
              cpu: "250m"      # 降低預留，讓 10 個服務只要 2.5 核就能被調度
              memory: "512Mi"  # 承諾最少只要 512MB，方便調度
            limits:
              cpu: "2000m"     # 允許爆發到 2 核 (加速啟動)
              memory: "1500Mi" # 【關鍵】強制封頂 1.5GB
          readinessProbe:
            tcpSocket:
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: http
            initialDelaySeconds: 30
            periodSeconds: 30
          volumeMounts:
            - name: console-config
              mountPath: /etc/redpanda-console
              readOnly: true
      volumes:
        - name: console-config
          configMap:
            name: redpanda-console-config
            items:
              - key: console.yaml
                path: console.yaml
