apiVersion: apps/v1
kind: Deployment
metadata:
  name: redpanda-console
  labels:
    app: redpanda-console
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redpanda-console
  template:
    metadata:
      labels:
        app: redpanda-console
    spec:
      containers:
        - name: redpanda-console
          image: docker.redpanda.com/redpandadata/console:latest
          imagePullPolicy: IfNotPresent
          args:
            - "--config.filepath=/etc/redpanda-console/console.yaml"
          ports:
            - name: http
              containerPort: 8080
          resources:
            requests:
              memory: "256Mi"  # 預留資源
            limits:
              memory: "512Mi"  # 硬上限，超過就殺掉
          readinessProbe:
            tcpSocket:
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: http
            initialDelaySeconds: 30
            periodSeconds: 30
          volumeMounts:
            - name: console-config
              mountPath: /etc/redpanda-console
              readOnly: true
      volumes:
        - name: console-config
          configMap:
            name: redpanda-console-config
            items:
              - key: console.yaml
                path: console.yaml
